body{
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
}


.container{
    margin:auto;
    display:flex;

}
button{
    margin:8px 16px;
    padding:8px 46px;
    background-color: black;
    color:white;
    font-weight: 800;
    font-size: 20px;
    border: 2px solid gray
}

.container1{
    display: flex ;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
button:nth-child(2){
position: relative;
top:50px;
}
p{
    position: relative;
    bottom:110px;
    font-size: 50px;
    font-weight: 900;
    }

    button:hover{
        background-color: white;
        color: black;

    }
button{
    transition: all 0.3s;
}